fileFormatVersion: 2
guid: c266aac872569bb44b47223b14c6d8e3
timeCreated: 1511272897
licenseType: Free
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
